@charset "UTF-8";

@font-face {
    font-family:'special' ;
    src: url('../fonts/GoogleFonts-SpecialElite-Regular.ttf') format('truetype');
 
}

@font-face {
    font-family: 'catcomic';
    src: url('../fonts/Cat\ Comic.ttf') format('truetype');
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100vh;
 }

body, html {
    background-image: linear-gradient(to bottom,rgb(15, 15, 15), black);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    text-align: center;
    background-color: black;
    padding: 20px;
    border-bottom: 1.5px solid white;
    margin-bottom: 20px;

}

header > h1 {
    font-family: 'catcomic';
    font-size: 3em;
    color: whitesmoke;
    font-weight: bold;

}


main {
    width: 90vw;
    margin: auto;
}

.img-container {
    text-align: center;

}

.img-centralizada {
    margin: auto;
    display: block; /* faz a imagem um bloco para as margens automáticas funcionarem */
}

article > div > img {
    border: 2px solid white;
    border-radius: 100%;
}

article > h2 {
    font-family: 'special';
    padding: 15px;
    text-align: center;
    color: white;
}

article > p {
    font-family: 'special';
    text-align: center;
    color: white;
}

article > ul {
    margin-top: 30px;
    list-style-type: none;
}

article > ul > li > a {
    display: block;
    margin-top: 5px;
    padding: 20px;
    font-family: 'special';
    text-decoration: none;
    text-align: center;
    background-color: whitesmoke;
    color: black;
    border: 2px solid rgb(61, 61, 61);
    border-radius: 40px;
    box-shadow: 7px 5px 0px rgb(61, 61, 61);
}


a:hover {
    color: rgb(65, 65, 65);
}


article> ul> li, a:hover {
    transform: translate( 4px, 4px);
}